{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block body %}

<!-- Hero Section -->
<section id="hero" class="hero section dark-background">


  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
        <h1>{{index.company_name}}</h1>
        <p>{{index.company_slogan}}</p>
        <div class="d-flex">
          <a href="#about" class="btn-get-started">Get Started</a>
          <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8"
            class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch
              Video</span></a>
        </div>
      </div>
      {% comment %} <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
      </div> {% endcomment %}
    </div>
  </div>

</section>
<!-- /Hero Section -->


<!-- Clients Section -->

<section id="clients" class="clients section light-background">

  <div class="container" data-aos="zoom-in">

    <div class="swiper init-swiper">
      <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 2,
                  "spaceBetween": 40
                },
                "480": {
                  "slidesPerView": 3,
                  "spaceBetween": 60
                },
                "640": {
                  "slidesPerView": 4,
                  "spaceBetween": 80
                },
                "992": {
                  "slidesPerView": 5,
                  "spaceBetween": 120
                },
                "1200": {
                  "slidesPerView": 6,
                  "spaceBetween": 120
                }
              }
            }
          </script>
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide"><img src="{% static 'assets/img/clients/clients-1.webp' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'assets/img/clients/clients-2.webp' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'assets/img/clients/clients-3.webp' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'assets/img/clients/clients-4.webp' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'assets/img/clients/clients-5.webp' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'assets/img/clients/clients-6.webp' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'assets/img/clients/clients-7.webp' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'assets/img/clients/clients-8.webp' %}" class="img-fluid" alt=""></div>
      </div>
    </div>

  </div>

</section><!-- /Clients Section -->


<!-- About Section -->

<section id="about" class="about section">

  <div class="container section-title" data-aos="fade-up">
    <h2>About Us</h2>
  </div>

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
        <p>{{about.description}}</p>
        <ul>
          {% for bullet in about.bullets %}
          <li><i class="bi bi-check2-circle"></i> <span>{{bullet.description}}</span></li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <p>{{about_right.description}}</p>
        <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
      </div>

    </div>

  </div>

</section>

<section id="why-us" class="section why-us light-background" data-builder="section">

  <div class="container-fluid">

    <div class="row gy-4">

      <div class="col-lg-7 d-flex flex-column justify-content-center order-2 order-lg-1">

        <div class="content px-xl-5" data-aos="fade-up" data-aos-delay="100">
          <h3><span>{{index_about_2.slogan}}</span><strong></strong></h3>
          <p>{{index_about_2.description}}</p>
        </div>

        <div class="faq-container px-xl-5" data-aos="fade-up" data-aos-delay="200">
          <!-- FAQ Items remain unchanged -->
        </div>

      </div>

      <div class="col-lg-5 order-1 order-lg-2 why-us-img">
        <img src="{% static 'assets/img/why-us.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
      </div>
    </div>

  </div>

</section>

<section id="skills" class="skills section">

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row">

      <div class="col-lg-6 d-flex align-items-center">
        <img src="{% static 'assets/img/illustration/illustration-10.webp' %}" class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 pt-4 pt-lg-0 content">
        <h3>{{index_about_3.slogan}}</h3>
        <p class="fst-italic">{{index_about_3.description}}</p>

        <div class="skills-content skills-animation">
          <!-- Skills bars remain unchanged -->
        </div>

      </div>
    </div>

  </div>

</section>

<section id="products" class="services section light-background">

  <div class="container section-title" data-aos="fade-up">
    <h2>Services</h2>
    <p>{{services.description}}</p>
  </div>

  <div class="container">

    <div class="row gy-4">
      <!-- Service items remain unchanged -->
    </div>

  </div>

</section>

<section id="pro-monitor" class="work-process section">

  <div class="container section-title" data-aos="fade-up">
    <h2>{{promonitor.slogan}}</h2>
    <p>{{promonitor.description}}</p>
  </div>

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-5">
      {% for pf in promonitor_features %}
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="steps-item">
          <div class="steps-image">
            <img src="{{ pf.logo.url }}" alt="{{pf.slogan}}" class="img-fluid" loading="lazy">
          </div>
          <h5 style="text-align: center;">{{pf.slogan}}</h5>
          <p style="margin: 0px 10px;">{{pf.description}}</p>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>

</section>

<!-- Call To Action Section -->

{% comment %} <section id="call-to-action" class="call-to-action section dark-background">

  <img src="{% static 'assets/img/bg/bg-8.webp' %}" alt="">

  <div class="container">
    <div class="row" data-aos="zoom-in" data-aos-delay="100">
      <div class="col-xl-9 text-center text-xl-start">
        <h3>{{ call_to_action.title }}</h3>
        <p>{{ call_to_action.description }}</p>
      </div>
      <div class="col-xl-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" href="{{ call_to_action.link }}">Call To Action</a>
      </div>
    </div>
  </div>

</section> {% endcomment %}

<!-- Portfolio Section -->
{% comment %} <section id="portfolio" class="portfolio section">
  <div class="container section-title" data-aos="fade-up">
    <h2>{{ portfolio.title }}</h2>
    <p>{{ portfolio.description }}</p>
  </div>

  <div class="container">
    <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

      <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
        <li data-filter="*" class="filter-active">All</li>
        {% for category in portfolio.categories %}
          <li data-filter=".filter-{{ category.slug }}">{{ category.name }}</li>
        {% endfor %}
      </ul>

      <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
        {% for item in portfolio.items %}
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-{{ item.category.slug }}">
            <img src="{% static item.image %}" class="img-fluid" alt="{{ item.title }}">
            <div class="portfolio-info">
              <h4>{{ item.title }}</h4>
              <p>{{ item.description }}</p>
              <a href="{% static item.image %}" title="{{ item.title }}" data-gallery="portfolio-gallery-{{ item.category.slug }}" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="{{ item.details_link }}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
</section> {% endcomment %}

<!-- Team Section -->
<section id="team" class="team section">
  <div class="container section-title" data-aos="fade-up">
    <h2>{{ team.title }}</h2>
    <p>{{ team.description }}</p>
  </div>

  <div class="container">
    <div class="row gy-4">
      {% for member in team.members %}
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="{{ forloop.counter|add:"1" }}00">
          <div class="team-member d-flex align-items-start">
            <div class="pic"><img src="{{member.profile.url }}" class="img-fluid" alt="{{ member.name }}"></div>
            <div class="member-info">
              <h4>{{ member.name }}</h4>
              <span>{{ member.designation }}</span>
              <p>{{ member.bio }}</p>
              <div class="social">
                <a href="{{ member.twitter }}"><i class="bi bi-twitter-x"></i></a>
                <a href="{{ member.facebook }}"><i class="bi bi-facebook"></i></a>
                <a href="{{ member.instagram }}"><i class="bi bi-instagram"></i></a>
                <a href="{{ member.linkedin }}"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Pricing Section -->
{% comment %} <section id="pricing" class="pricing section light-background">
  <div class="container section-title" data-aos="fade-up">
    <h2>{{ pricing.title }}</h2>
    <p>{{ pricing.description }}</p>
  </div>

  <div class="container">
    <div class="row gy-4">
      {% for plan in pricing.plans %}
        <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="{{ forloop.counter|add:"1" }}00">
          <div class="pricing-item{% if plan.featured %} featured{% endif %}">
            <h3>{{ plan.name }}</h3>
            <h4><sup>$</sup>{{ plan.price }}<span> / month</span></h4>
            <ul>
              {% for feature in plan.features %}
                <li class="{% if not feature.available %}na{% endif %}">
                  <i class="bi {% if feature.available %}bi-check{% else %}bi-x{% endif %}"></i>
                  <span>{{ feature.text }}</span>
                </li>
              {% endfor %}
            </ul>
            <a href="{{ plan.link }}" class="buy-btn">Buy Now</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section> {% endcomment %}

<!-- Faq 2 Section -->
{% comment %} {% load static %} {% endcomment %}

<section id="faq-2" class="faq-2 section light-background">
  <div class="container section-title" data-aos="fade-up">
    <h2>Frequently Asked Questions</h2>
    {% comment %} <p>Magnam dolores commodi suscipit...</p> {% endcomment %}
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="faq-container">
          {% for faq in faqs %}
          <div class="faq-item {% if forloop.first %}faq-active{% endif %}" data-aos="fade-up" data-aos-delay="{{ forloop.counter|add:1 }}00">
            <i class="faq-icon bi bi-question-circle"></i>
            <h3>{{ faq.name }}</h3>
            <div class="faq-content">
              <p>{{ faq.description }}</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<section id="subscribe" class="subscribe section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4 justify-content-between align-items-center">
      <div class="col-lg-6">
        <div class="cta-content" data-aos="fade-up" data-aos-delay="200">
          <h2>Subscribe to our newsletter</h2>
          <p>Proin eget tortor risus...</p>
          <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
              <div class="error-subscribed-message"></div>
              <div class="subscribed-message"></div>
            </div>
            <div class="input-group mb-3 subscribe-to-newsletter">
              <input type="email" class="form-control" placeholder="Email address..." name="email" required>
              <button class="btn btn-primary" type="submit">Subscribe</button>
            </div>
            {% if messages %}
              {% for message in messages %}
                <div class="{{ message.tags }}">{{ message }}</div>
              {% endfor %}
            {% endif %}
          </form>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cta-image" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'assets/img/cta/cta-1.webp' %}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>

{% comment %} <section id="recent-blog-postst" class="recent-blog-postst section light-background">
  <div class="container section-title" data-aos="fade-up">
    <h2>Recent Blog Posts</h2>
    <p>Necessitatibus eius consequatur...</p>
  </div>

  <div class="container">
    <div class="row gy-5">
      {% for post in recent_posts %}
      <div class="col-xl-4 col-md-6">
        <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="{{ forloop.counter|add:1 }}00">
          <div class="post-img position-relative overflow-hidden">
            <img src="{{ post.image_url }}" class="img-fluid" alt="">
            <span class="post-date">{{ post.date }}</span>
          </div>
          <div class="post-content d-flex flex-column">
            <h3 class="post-title">{{ post.title }}</h3>
            <div class="meta d-flex align-items-center">
              <div class="d-flex align-items-center">
                <i class="bi bi-person"></i> <span class="ps-2">{{ post.author }}</span>
              </div>
              <span class="px-3 text-black-50">/</span>
              <div class="d-flex align-items-center">
                <i class="bi bi-folder2"></i> <span class="ps-2">{{ post.category }}</span>
              </div>
            </div>
            <hr>
            <a href="{{ post.url }}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section> {% endcomment %}

<section id="contact" class="contact section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Contact</h2>
    <p>Leave us a message and we'll get back to you.</p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">

      <div class="col-lg-5">

        <div class="info-wrap">
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
              <h3>Address</h3>
              <p>C-82, Focal Point, Ludhiana, IN 141015</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Call Us</h3>
              <p>+91 8948313390</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email Us</h3>
              <p>info@vamsmechatronica.in</p>
            </div>
          </div><!-- End Info Item -->

          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus"
            frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

      <div class="col-lg-7">
        <form action="#" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
          <div class="row gy-4">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

            <div class="col-md-6">
              <label for="name-field" class="pb-2">Your Name</label>
              <input type="text" name="name" id="name-field" class="form-control" required="">
            </div>

            <div class="col-md-6">
              <label for="email-field" class="pb-2">Your Email</label>
              <input type="email" class="form-control" name="email" id="email-field" required="">
            </div>

            <div class="col-md-12">
              <label for="subject-field" class="pb-2">Subject</label>
              <input type="text" class="form-control" name="subject" id="subject-field" required="">
            </div>

            <div class="col-md-12">
              <label for="message-field" class="pb-2">Message</label>
              <textarea class="form-control" name="message" rows="10" id="message-field" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
              {% comment %} <div class="loading">Loading</div> {% endcomment %}
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>

              <button type="submit">Send Message</button>
            </div>

          </div>
        </form>
      </div><!-- End Contact Form -->

    </div>

  </div>

</section><!-- /Contact Section -->
{% endblock body %}

